{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link 	href = "{% static 'boostrape.min.css' %}"
			rel = "stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}" />
		<title>Treasure Gram</title>
	</head>
	<body>
		<h1>Treasure Gram</h1>
		{% for treasure in treasures %}
			<p>{{ treasure.name }}</p>
			{% if treasure.value > 0 %}
				<p>{{ treasure.value }}</p>
			{% else %}
				<p>Unknown</p>
			{% endif %}
			<p>{{ treasure.material }}</p>
			<p>{{ treasure.location }}</p>
		{% endfor %}
	</body>
</html>
