{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link 	href = "{% static 'css/bootstrap.min.css' %}"
			rel = "stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}" />
		<title>Treasure Gram</title>
	</head>
	<body>
		<nav class = "navbar navbar-default navbar-static-top text-center">
			<a href="/">
				<img src = "{% static 'images/logo.png' %}" alt = "TreasureGram">
			</a></nav>
		<main class="container" role="main">
			<h1>Treasure Gram</h1>
			<div class="treasure panel panel-default">
				<!-- create a row outside of the for loop and a column for each treasure -->
				<div class='row'>
				{% for treasure in treasures %}
					<div class="col-md-4">
						<div class="panel-heading">
							<h2 class='panel-title'>{{ treasure.name }}</h2>
						</div>
						<div class='treasure-photo'>
							<img src="{{ treasure.img_url }}" height='100'>
						</div>
					</div>
					<!-- Putting this if statement inside our template will end the last row and create a new row every three treasures. -->
					{% if forloop.counter|divisibleby:'3' %}
						</div><div class='row'>
					{% endif %}

				{% endfor %}
				</div>
			</div>
		</main>
	</body>
</html>
